<div class="container">
  <button (click)="goBack()" class="back-btn">← Torna ai tipi</button>
  <h2>Pokémon di tipo: <span class="type-name">{{ typeName | titlecase }}</span></h2>

  <div *ngIf="loading" class="loading">Caricamento...</div>

  <ul class="pokemon-list" *ngIf="!loading">
    <li *ngFor="let p of pokemonList" (click)="selectPokemon(p.id)" class="pokemon-item">
      <img [src]="p.sprites.front_default" [alt]="p.name" class="pokemon-image">
      {{ p.name | titlecase }}
    </li>
  </ul>
</div>